## Importing libraries

In [1]:
import json
import requests
import numpy as np
import pandas as pd

### Getting account list

In [2]:
#url for getting the account list
url = 'https://api.koios.rest/api/v0/account_list'

In [14]:
headers = {'Accept': 'text/csv'}
r = requests.get(url, headers=headers,params=None)

In [41]:
strr = r.text[3:]
data = list(strr.split('\n'))
df = pd.DataFrame(data,columns = [r.text[0:2]])
df

                                                    id
0    stake1uyfmzu5qqy70a8kq4c8rw09q0w0ktfcxppwujejn...
1    stake1uxffj3q96my75qka7jrr8lsc2xe3vxuan0t4uzth...
2    stake1uydhlh7f2kkw9eazct5zyzlrvj32gjnkmt2v5qf6...
3    stake1uxsgkz6fvgws5wn80vckwvghzapnhfmf0672nmmk...
4    stake1u9z2msz0qr3lnt6q07fhv00vj5kp9dlfyjd9ax8v...
..                                                 ...
995  stake1u9yl4066shnqp9pav2c5665c0zgp4ap935mya28p...
996  stake1u93fclcfsulf4xfxlx5qxdjwqzfckk7gvmw7mkd7...
997  stake1u8qfcu5s874gpug5zrme4pzsf5me5kemxax940pa...
998  stake1uygwhmmtcxpce5jxw6hy9h78tqcwcz3qvht3chax...
999  stake1ux7d6fcgza28s7y27euavswveq524frrm5vrwuwd...

[1000 rows x 1 columns]

In [42]:
df.to_csv('Stake_Accounts_list.csv',index=False)

In [43]:
# Create DataFrame 1
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Create DataFrame 2
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

# Create an array of DataFrames
array_of_dfs = [df1, df2]

In [48]:
array_of_dfs

[   A  B
 0  1  4
 1  2  5
 2  3  6,
    A   B
 0  7  10
 1  8  11
 2  9  12]