In [8]:
import json
import requests
import numpy as np
import pandas as pd
from io import StringIO

In [63]:
df = pd.read_csv('stake1ux5n727gxnt6l2kkm25d8qn4g9cfv0an25j27mdueyh6lkcg5kwxa.csv')

In [64]:
df

    Unnamed: 0                                            address       value
0            0  addr1qygvvgradk8rptrrm5xkcvtml9tzsdyvwx24t7u7d...     1000000
1            1  addr1qxfqzrjmss503q269xcc8el30vyte87vad2hhkhjf...     2783000
2            2  addr1qy4ugcdtesttast50cyr58cv0az22afy93kek0jen...     9000000
3            3  addr1qxfqzrjmss503q269xcc8el30vyte87vad2hhkhjf...     1344798
4            4  addr1qxfqzrjmss503q269xcc8el30vyte87vad2hhkhjf...     1793064
..         ...                                                ...         ...
73          73  addr1qxqwgkec2ygnahknxavxkgvet65ahj7044mjfzgxl...   555423785
74          74  addr1qxqwgkec2ygnahknxavxkgvet65ahj7044mjfzgxl...     5000000
75          75  addr1qxfqzrjmss503q269xcc8el30vyte87vad2hhkhjf...   342020000
76          76  addr1qx9lnkgrujx223qekmpa5j8ysqk9srww2zazhdyyx...  2394944818
77          77  addr1qxh6vcaf6la7jpnyhwl6vgs7p769gxlwsk26e2c0s...     2000000

[78 rows x 3 columns]

In [65]:
with open('json/inputs/stake1ux5n727gxnt6l2kkm25d8qn4g9cfv0an25j27mdueyh6lkcg5kwxa.json', 'w') as file:
    file.write("{\n")
    file.write('\t"UTxO_set": [\n')
    for i in range(df.shape[0]):
        file.write('\t\t{\n')
        file.write(f'\t\t\t"address": "{df.iloc[i]["address"]}",\n')
        file.write(f'\t\t\t"value": "{df.iloc[i]["value"]}"\n')
        file.write('\t\t},\n')
    file.write('\t]\n}')

In [ ]:
{
    'stake_address':stake address
    'outgoing_transactions':[
        {
            'address': this will be wallet address,
            'value': this will be the value of transaction
        }
    ]
}